@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DB_Livres_ViewModel
@{
    ViewData["Title"] = "Catalogue";
}
<h1>Catalogue</h1>
<ol>
    @foreach (var livre in Model)
    {
        <li>
            <a asp-action="TrouverLivre" asp-controller="Livre" asp-route-id="@livre.Id">
                @livre.Titre, @livre.Prix $
            </a>
        </li>
    }
</ol>