@using RevisionExam1_Equipe.Models;
@model RevisionExam1_Equipe.Models.LivreModel
@{
    ViewData["Title"] = "TrouverLivre";
}
<h1>@Model.Titre</h1>
<p>
    <strong>Prix:</strong> @Model.Prix $<br />
    <strong>Id:</strong> @Model.Id<br />

</p>
<a href="@Url.Action("Catalogue", "Livre")">Retour au catalogue</a>
